<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos de fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

    <!-- URL a web de íconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo"> 
                <img src="/images/logo-mercado-liebre.svg" class="logo" alt="logo-mercadoliebre">
            </div>
            <section class="search-bar">
                <div class="search-bar--background">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <i class="fas fa-search"></i>
                    
                </div>
            </section>

            <section class="header__title__container">
                <i class="fas fa-hand-holding-usd"></i>
                <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
            </section>
        </div>
        
        <nav>
            <ul class="nav-shop">
                <li>
                    <a href="/ofertas">Ofertas</a>
                </li>
                <li>
                    <a href="/tiendas-oficiales">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="/vender">Vender</a>
                </li>
                <li>
                    <a href="/ayuda">Ayuda</a>  
                </li>                             
            </ul>
            <ul class="nav-personal">
                <li>
                    <a href="/crea-tu-cuenta">Creá tu cuenta</a>
                    <i class="far fa-id-card"></i>
                </li>
                <li>
                    <a href="/ingresa">Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="/mis-compras">Mis compras</a>
                    <i class="fas fa-shopping-basket"></i>
                </li>                                            
            </ul>
        </nav>
        <section class="burger-menu-container">   

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </section>
    </header>
    
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <div class="products">
                <article>
                    <img src="./images/img-cafetera-moulinex.jpg" width="300px">
                    <div class="prod">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="prod-price-container">
                            <p class="price">$6.770</p>
                            <p class ="discount">40% OFF</p>
                        </div>
                        <h4 class="prod-name">Cafetera Moulinex</h4>  
                        <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque natus debitis veritatis. Eaque, dolore? Repellat expedita blanditiis sit consequatur reprehenderit beatae dicta perferendis aperiam possimus? Libero vitae harum recusandae!</p>                   -->
                    </div>
                </article>
                
                <article>
                    <img src="./images/img-macbook-pro-2019.jpg" width="300px">
                    <div class="prod">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="prod-price-container">
                            <p class="price">$230.000</p>
                            <p class ="discount">20% OFF</p>
                        </div>
                        <h4 class="prod-name">MacBook Pro 2019</h4>  
                        <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque natus debitis veritatis. Eaque, dolore? Repellat expedita blanditiis sit consequatur reprehenderit beatae dicta perferendis aperiam possimus? Libero vitae harum recusandae!</p>                   -->
                    </div>
                </article>

                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg" width="300px">
                    <div class="prod">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="prod-price-container">
                            <p class="price">$70.500</p>
                            <p class ="discount">10% OFF</p>
                        </div>
                        <h4 class="prod-name">Samsung Galaxy S10</h4> 
                        <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque natus debitis veritatis. Eaque, dolore? Repellat expedita blanditiis sit consequatur reprehenderit beatae dicta perferendis aperiam possimus? Libero vitae harum recusandae!</p>                   -->
                    </div>
                </article>

                <article>
                    <img src="./images/img-tv-samsung-smart.jpg" width="300px">
                    <div class="prod">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="prod-price-container">
                            <p class="price">$23.200</p>
                            <p class ="discount">5% OFF</p>
                        </div>
                        <h4 class="prod-name">SmartTv Samsung 43"</h4>  
                        <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque natus debitis veritatis. Eaque, dolore? Repellat expedita blanditiis sit consequatur reprehenderit beatae dicta perferendis aperiam possimus? Libero vitae harum recusandae!</p>                   -->
                    </div>
                </article>               
            </div>
        </section>

        <section>  
            <h2>Ofertas</h2>    
            
            <div class="products">
                <article>
                    <img src="./images/img-cafetera-moulinex.jpg" width="300px">
                    <div class="prod">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="prod-price-container">
                            <p class="price">$6.770</p>
                            <p class ="discount">40% OFF</p>
                        </div>
                        <h4 class="prod-name">Cafetera Moulinex</h4>  
                        <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque natus debitis veritatis. Eaque, dolore? Repellat expedita blanditiis sit consequatur reprehenderit beatae dicta perferendis aperiam possimus? Libero vitae harum recusandae!</p>                   -->
                    </div>
                </article>
                
                <article>
                    <img src="./images/img-macbook-pro-2019.jpg" width="300px">
                    <div class="prod">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="prod-price-container">
                            <p class="price">$230.000</p>
                            <p class ="discount">20% OFF</p>
                        </div>
                        <h4 class="prod-name">MacBook Pro 2019</h4>  
                        <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque natus debitis veritatis. Eaque, dolore? Repellat expedita blanditiis sit consequatur reprehenderit beatae dicta perferendis aperiam possimus? Libero vitae harum recusandae!</p>                   -->
                    </div>
                </article>

                <article>
                    <img src="./images/img-samsung-galaxy-s10.jpg" width="300px">
                    <div class="prod">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="prod-price-container">
                            <p class="price">$70.500</p>
                            <p class ="discount">10% OFF</p>
                        </div>
                        <h4 class="prod-name">Samsung Galaxy S10</h4> 
                        <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque natus debitis veritatis. Eaque, dolore? Repellat expedita blanditiis sit consequatur reprehenderit beatae dicta perferendis aperiam possimus? Libero vitae harum recusandae!</p>                   -->
                    </div>
                </article>

                <article>
                    <img src="./images/img-tv-samsung-smart.jpg" width="300px">
                    <div class="prod">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="prod-price-container">
                            <p class="price">$23.200</p>
                            <p class ="discount">5% OFF</p>
                        </div>
                        <h4 class="prod-name">SmartTv Samsung 43"</h4>  
                        <!-- <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque natus debitis veritatis. Eaque, dolore? Repellat expedita blanditiis sit consequatur reprehenderit beatae dicta perferendis aperiam possimus? Libero vitae harum recusandae!</p>                   -->
                    </div>
                </article>               
            </div>
        </section>

    </main>

    <footer>
        <article class="footer-info">     
            <i class="fas fa-credit-card"></i>       
            <h3><b>Pagá con tarjeta o en efectivo</b></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer-info">
            <i class="fas fa-gift"></i>
            <h3><b>Envío gratis desde $2.500</b></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer-info">
            <i class="fas fa-user-shield" width="50px"></i>
            <h3><b>Seguridad, de principio a fin</b></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article class="footer-info--legal">
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>

</body>
</html>