<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="text" placeholder="Nombre de usuario">
        <input type="email" placeholder="E-mail">

        <label for="birth-date">Fecha de nacimiento</label>
        <input type="date" if="birth-date">

        <input type="text" placeholder="Domicilio">
        <label for="user-type">Perfil del usuario</label>
        <input type="radio" name="user-type" value="comprador">
        <input type="radio" name="user-type" value="vendedor">
        

        
    </form>
    
</body>
</html>