* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;  
      
}

body {
    background-color: #ebebeb;   
    color: #666
}

header {
    background-color: #EAC926;
}

.header-container {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    width: 50%;
    padding: 5px;    
    display: flex;
    text-align: center;
    justify-content: flex-start;  
}
.logo img {
    width: 100%;
    padding: 5px;
    max-width: 280px;    
}
.search-bar {
    width: 50%; 
}

.search-bar--background {
    display: flex;    
    justify-content: space-around;   
    align-items: center; 
    background-color: white;
    margin: 11px ;
    padding: 5px;
    border-radius: 7px;
}
.search-bar input {
    width: 80%;
    height: 28px;
    border-style: none;    
    background-color: transparent;
}

.fa-search {    
    width: 23px;
    height: 23px;     
    padding: 3px 8px;    
    border-left: 1px solid #ebebeb ;
    
}
.header__title__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 12px;
}
.fa-bars {
    font-size: 22px;
}
.burger-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;     
    
}
.burger-menu {   
    display: flex;
    align-items: center;
    justify-content: center;     
    background: #1259c3;
    padding: 5px;
    margin-bottom: 5px;
    
    border-radius: 5px;
    color: #ebebeb;
}
nav a,
footer p {
    font-size: 12px;    
    text-decoration: none;
    color: #666;
}

main {
    margin: auto;
    width: 90vw;   
}
main img {
    width: 100%;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main article {
    padding: 5px 0;
    margin: 5px 0;
    background-color: white;    
} 

.prod {
    border-top: 1px solid #ebebeb;
    padding: 15px;      
}
.products h4 {    
    color: white;
    transition: color 500ms ease;
}
.products h4:hover {    
    color: initial;    
}

.truck-container {
    display: flex;      
    align-items: center;
    justify-content:center;
    position: relative;
    overflow: initial;
    
}

.fa-truck {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -30px;
    transition: transform 700ms linear;
    cursor: pointer;
    z-index: 10;
}
.fa-truck:hover {
    transform: rotate(-90deg);    
}

.description {
    display: none;
}

h2 {
    font-size: 24px;
}
.prod-price-container {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.price {
    font-size: 18px;
    width: 30%;
    min-width: 80px;;
}
.discount{
    color: #39b54a;
    font-size: 16px;
    width: 70%;
    margin-left: 10px;
}
.prod-name {
    font-size: 16px;
    margin: 5px 0;    
}


footer {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.footer-info {
    text-align: center;    
}

footer article i{
    color: #1259c3;    
    font-size: 2em;
    margin-bottom: 10px;
    transition: color 300ms ease;
}
footer article i:hover {
    color: #0022AA;
}

.copyright {
    margin: 10px 0;
}

nav {
    display: none;
}


@media (min-width: 361px) and (max-width: 768px){

    .logo {
        width: 33%;
            
    }    
    .search-bar {
        width: 33%; 
    }
    .header__title__container {
       
        width: 33%;
    }

    .description {
        display: block;
    }
    
    .products article {
        transition: box-shadow 500ms ease;        
        width: 48%;
    }
    .products article:hover {
        box-shadow: 0px 0px 10px rgb(100,100,100 );
    }
    .burger-menu{
        display: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;    
        
    }    
    .nav-shop {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        width: 45vw;
        padding: 0px;
    }
    .nav-shop li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-left: 10px;
    }
    .nav-personal {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        width: 45vw;
        padding: 0px;
    }
    .nav-personal li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-right: 10px;
    }
    .nav-personal i {
        margin: 2px;
    }    
    footer {    
        padding: 15px;
        margin-top: 15px;
    }


}

@media (min-width: 769px) {
    /* Estilos de Desktop */
    .logo {
        width: 33%;
            
    }    
    .search-bar {
        width: 33%; 
    }
    .header__title__container {
       
        width: 33%;
    }

    .description {
        display: block;
    }    
    .products article {
        transition: box-shadow 500ms ease;        
        width: 23%;
    }
    .products article:hover {
        box-shadow: 0px 0px 10px rgb(100,100,100 );
    } 
    .burger-menu{
        display: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;    
        
    }
    .nav-shop {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        width: 45vw;
        padding: 0px;
    }
    .nav-shop li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-left: 20px;
    }
    .nav-personal {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        width: 45vw;
        padding: 0px;
    }
    .nav-personal li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-right: 30px;
    }    
    .nav-personal i {
        margin: 2px;
    }
    footer {    
        padding: 15px;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    
    }
    
    .footer-info {
        width: 30%;      
    }
    
    .footer-info--legal {
        width: 100%;    
    }

}






